h1, h4 {
    color: white;
}

body.light-mode h1,
body.light-mode h4 {
    color: black;
}

#returnHomepage {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1000;
  user-select: none;
}

#returnHomepage:hover {
  background-color: #666;
  color: #f0f0f0;
}

#header {
  font-size: 100px;
  margin-bottom: 30px;
}

img {
  width: 60px;
  display: block;
  margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin-top: 40px;
    padding: 10px 0;
}

body.light-mode .footer {
  color: #444;
}

body.light-mode #theme-toggle {
  background-color: #ddd;
  color: #222;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

body.light-mode #theme-toggle:hover {
  background-color: #bbb;
  color: #000;
}

/*przycisk*/
#theme-toggle {
  position: fixed;
  right: 20px;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1000;
  user-select: none;
  top: 20px;
}

#theme-toggle:hover {
  background-color: #666;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  #theme-toggle {
    position: relative;
    margin: 40px auto 20px auto;
    display: block;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
    top: 0;
  }
}